<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Orbit&family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <link href="../dist/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.min.js"
      integrity="sha512-fMPPLjF/Xr7Ga0679WgtqoSyfUoQgdt8IIxJymStR5zV3Fyb6B3u/8DcaZ6R6sXexk5Z64bCgo2TYyn760EdcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      $(document).ready(function () {
        let result = checkLogin();
      });

      function checkLogin() {
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();
        }

        function parseJwt(token) {
          try {
            const base64Url = token.split(".")[1];
            const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
            const jsonPayload = decodeURIComponent(
              atob(base64)
                .split("")
                .map(function (c) {
                  return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                })
                .join("")
            );
            return JSON.parse(jsonPayload);
          } catch (error) {
            return null;
          }
        }

        const jwtToken = getCookie("jwt_token");
        if (jwtToken) {
          const decodedToken = parseJwt(jwtToken);
          if (decodedToken) {
            $("#loginContainer").children("a").html("");
            let loginCompleted = `
                <a href="" class="text-sm font-semibold leading-6 text-gray-900"
                       > Welcome! ${decodedToken.sub.user_name}</a
            >
              `;
            $("#loginContainer").append(loginCompleted);
            showMyTodo(decodedToken["sub"]["user_id"]);
            // 여기에서 필요한 작업을 수행하세요.
          } else {
            console.log("Invalid JWT Token");
          }
        } else {
          console.log("JWT Token not found in cookie");
          alert("로그인 후 이용할 수 있어요!");
          window.location.replace("/login");
        }
      }

      function showMyTodo(id) {
        $("#myTodoList").html("");
        if (id) {
          $.ajax({
            type: "POST",
            url: "/api/read_onlymytodolist",
            data: {
              id_give: id,
            },
            success: function (res) {
              makeTodoUnit(res.mytodolist);
            },
          });
        }
      }

      function editTodo(id) {
        console.log("editmode", id);
        $("#" + id)
          .children("span")
          .hide();

        $.ajax({
          type: "POST",
          url: "/api/edit",
          data: {
            objectid_give: id,
          },
          success: function (res) {
            let tagOption = `
               <span class="inline-flex rounded-md shadow-sm">
                    <label for="message-type" class="sr-only"
                      >Select message type</label
                    >
                    <select
                  
                      id="edit_message-type"
                      name="message-type"
                      class="-ml-px block w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-9 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    >
                      <option>태그없음</option>
                      <option>운동</option>
                      <option>개발공부</option>
                      <option>독서</option>
                      <option>식단</option>
                    </select>
                  </span>`;

            let saveButtom = `
                <span
              id="pricing-plans-0-description-1"
              class="flex ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right justify-end"
              >
              <button
              type="button"
              onclick="saveTodo('${id}')">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
              </svg>
              </button>
              </span>
              `;
            $("#t" + id)
              .children("span")
              .html("");
            $("#t" + id).append(tagOption);
            $("#" + id + "buttonList").html("");
            $("#" + id + "buttonList").append(saveButtom);
            $("#" + id)
              .children("span")
              .html("");
            alert("TO DO를 수정할 수 있어요!");
            let tmp = `
              <input id=${
                "e" + id
              } class="ml-3 font-medium border-2 rounded-md border-indigo-200 w-full" placeholder="수정할 내용을 입력하세요" value="${
              res.edittodolist.content
            }"/>
              `;
            $("#" + id).append(tmp);
          },
        });
      }

      function completeTodo(id) {
        $.ajax({
          type: "POST",
          url: "/api/complete",
          data: {
            objectid_give: id,
          },
          success: function (res) {
            console.log("thisisres", res);
            if (res["msg"] === "완료처리 되었습니다.") {
              alert(res["msg"]);
              document.getElementById("label" + id).style.background =
                "rgb(55 65 81)";
            } else if (res["msg"] === "미완료처리 되었습니다.") {
              alert(res["msg"]);
              document.getElementById("label" + id).styled.background = rgb(
                255,
                255,
                255
              );
            }
            window.location.replace("/myTodo");
          },
        });
      }

      function saveTodo(id) {
        let editContent = $("#e" + id).val();
        let editTag = $("#edit_message-type").val();

        $.ajax({
          type: "POST",
          url: "/api/save",
          data: {
            objectid_give: id,
            content_give: editContent,
            tag_give: editTag,
          },
          success: function (res) {
            alert("수정완료!");

            function getCookie(name) {
              const value = `; ${document.cookie}`;
              const parts = value.split(`; ${name}=`);
              if (parts.length === 2) return parts.pop().split(";").shift();
            }

            function parseJwt(token) {
              try {
                const base64Url = token.split(".")[1];
                const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
                const jsonPayload = decodeURIComponent(
                  atob(base64)
                    .split("")
                    .map(function (c) {
                      return (
                        "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2)
                      );
                    })
                    .join("")
                );
                return JSON.parse(jsonPayload);
              } catch (error) {
                return null;
              }
            }

            const jwtToken = getCookie("jwt_token");
            if (jwtToken) {
              const decodedToken = parseJwt(jwtToken);
              if (decodedToken) {
                console.log("login 확인 되었습니다.", decodedToken);
                showMyTodo(decodedToken.sub.user_id);
                // 여기에서 필요한 작업을 수행하세요.
              } else {
                console.log("Invalid JWT Token");
              }
            } else {
              console.log("JWT Token not found in cookie");
              alert("로그인 후 이용할수 수 있어요!");
              window.location.replace("/login");
            }
          },
        });
      }

      function deleteTodo(id) {
        console.log("deletemode");
        $.ajax({
          type: "POST",
          url: "/api/delete",
          data: {
            objectid_give: id,
          },
          success: function (res) {
            alert("삭제완료!");

            function getCookie(name) {
              const value = `; ${document.cookie}`;
              const parts = value.split(`; ${name}=`);
              if (parts.length === 2) return parts.pop().split(";").shift();
            }

            function parseJwt(token) {
              try {
                const base64Url = token.split(".")[1];
                const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
                const jsonPayload = decodeURIComponent(
                  atob(base64)
                    .split("")
                    .map(function (c) {
                      return (
                        "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2)
                      );
                    })
                    .join("")
                );
                return JSON.parse(jsonPayload);
              } catch (error) {
                return null;
              }
            }

            const jwtToken = getCookie("jwt_token");
            if (jwtToken) {
              const decodedToken = parseJwt(jwtToken);
              if (decodedToken) {
                console.log("login 확인 되었습니다.", decodedToken);
                showMyTodo(decodedToken.sub.user_id);
                // 여기에서 필요한 작업을 수행하세요.
              } else {
                console.log("Invalid JWT Token");
              }
            } else {
              console.log("JWT Token not found in cookie");
              alert("로그인 후 이용할수 수 있어요!");
              window.location.replace("/login");
            }
          },
        });
      }

      function makeTodoUnit(myTodoList) {
        for (let i = 0; i < myTodoList.length; i++) {
          id = myTodoList[i]["_id"];
          if (myTodoList[i]["complete"]) {
            let tem_HTML = `
          <label
            id=${"label" + id}
            class="bg-gray-700 rounded-md rounded-tr-md relative flex cursor-pointer flex-col border p-4 m-3 focus:outline-none md:grid md:grid-cols-3 md:pl-4 md:pr-6"
          >
            <span class="flex items-center text-sm"    id=${id}>
              <input
                onClick="completeTodo('${id}')"
                type="checkbox"
                Checked
                name="pricing-plan"
                value="Startup"
                class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-600 active:ring-2 active:ring-offset-2 active:ring-indigo-600"
                aria-labelledby="pricing-plans-0-label"
                aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1"
              />
              <span id="pricing-plans-0-label" class="ml-3 font-medium"
                >${myTodoList[i]["content"]}</span
              >
            </span>
            <span
              id=${"t" + id}
              class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center"
            >
              <span class="font-medium">${myTodoList[i]["tag"]}</span>
            </span>
            <div id=${id + "buttonList"}>
            <span
              id="pricing-plans-0-description-1"
              class="flex ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right justify-end"
              ><button

              type="button"
              onclick="editTodo('${myTodoList[i]["_id"]}')"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                  />
                </svg>
              </button>
              <button

               onclick="deleteTodo('${myTodoList[i]["_id"]}')"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg> </button
            ></span>
            </div>
          </label>
        `;
            $("#myTodoList").append(tem_HTML);
          } else {
            let tem_HTML = `
          <label
            id=${"label" + id}
            class="rounded-md rounded-tr-md relative flex cursor-pointer flex-col border p-4 m-3 focus:outline-none md:grid md:grid-cols-3 md:pl-4 md:pr-6"
          >
            <span class="flex items-center text-sm"    id=${id}>
              <input
                onClick="completeTodo('${id}')"
                type="checkbox"
                name="pricing-plan"
                value="Startup"
                class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-600 active:ring-2 active:ring-offset-2 active:ring-indigo-600"
                aria-labelledby="pricing-plans-0-label"
                aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1"
              />
              <span id="pricing-plans-0-label" class="ml-3 font-medium"
                >${myTodoList[i]["content"]}</span
              >
            </span>
            <span
              id=${"t" + id}
              class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center"
            >
              <span class="font-medium">${myTodoList[i]["tag"]}</span>
            </span>
            <div id=${id + "buttonList"}>
            <span
              id="pricing-plans-0-description-1"
              class="flex ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right justify-end"
              ><button

              type="button"
              onclick="editTodo('${myTodoList[i]["_id"]}')"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                  />
                </svg>
              </button>
              <button

               onclick="deleteTodo('${myTodoList[i]["_id"]}')"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg> </button
            ></span>
            </div>
          </label>
        `;
            $("#myTodoList").append(tem_HTML);
          }
        }
      }
      function checkLength(e) {
        let content = $("#todoContent").val();
        if (content.length == 51) {
          alert("목표는 50글자 이상 입력할 수 없어요! 현재 51글자에요.");
        }
        console.log("input 변경 용용 감지", content.length);
      }
      function addMyTodo() {
        let content = $("#todoContent").val();
        let tag = $("#message-type").val();
        console.log("thisiscontent.lengt", content.length);
        if (content.length == 0) {
          alert("해야 할일을 적은 후 추가 해주세요!");
          return;
        } else if (content.length == 51) {
          return;
        }

        function checkLogin() {
          function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
          }

          function parseJwt(token) {
            try {
              const base64Url = token.split(".")[1];
              const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
              const jsonPayload = decodeURIComponent(
                atob(base64)
                  .split("")
                  .map(function (c) {
                    return (
                      "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2)
                    );
                  })
                  .join("")
              );
              return JSON.parse(jsonPayload);
            } catch (error) {
              return null;
            }
          }
          const jwtToken = getCookie("jwt_token");
          if (jwtToken) {
            const decodedToken = parseJwt(jwtToken);
            if (decodedToken) {
              console.log("content.length", content.length);

              $.ajax({
                type: "POST",
                url: "/api/post",

                data: {
                  id_give: decodedToken.sub.user_id,
                  username_give: decodedToken.sub.user_name,
                  content_give: content,
                  tag_give: tag,
                },
                success: function (res) {
                  alert("추가가 완료 되었어요!");
                  showMyTodo(decodedToken.sub.user_id);
                  let content = $("#todoContent").val("");
                  let tag = $("#message-type").val("태그없음");
                },
              });
            }
          }
        }
        checkLogin();
      }
    </script>
  </head>
  <body>
    <header class="bg-white">
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div
          class="flex md:absolute md:inset-y-0 md:left-0 lg:static xl:col-span-2"
        >
          <div class="flex flex-shrink-0 items-center pr-5">
            <a href="/">
              <img
                class="h-8 w-auto"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                alt="Your Company"
              />
            </a>
          </div>
        </div>
        <div class="flex flex-1">
          <div class="hidden lg:flex lg:gap-x-12">
            <a
              href="/myTodo"
              class="text-sm font-semibold leading-6 text-gray-900"
              >my TodoList</a
            >
            <a
              href="/tagList"
              class="text-sm font-semibold leading-6 text-gray-900"
              >tag List
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="flex flex-1 justify-end" id="loginContainer">
          <a href="/login" class="text-sm font-semibold leading-6 text-gray-900"
            >Log in <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div class="lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div
          class="fixed inset-y-0 left-0 z-10 w-full overflow-y-auto bg-white px-6 py-6"
        >
          <div class="flex items-center justify-between">
            <div class="flex flex-1">
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-gray-700"
              >
                <span class="sr-only">Close menu</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>

            <div class="flex flex-1 justify-end">
              <a
                href="/login"
                class="text-sm font-semibold leading-6 text-gray-900"
                >Log in <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div class="mt-6 space-y-2">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Product</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Company</a
            >
          </div>
        </div>
      </div>
    </header>
    <div class="mx-auto max-w-3xl py-12">
      <div class="">
        <div id="myTodoList">
          <legend class="sr-only">Pricing plans</legend>
          <div class="reltive -space-y-px rounded-md bg-white">
            <!-- Checked: "z-10 border-indigo-200 bg-indigo-50", Not Checked: "border-gray-200" -->

            <!-- Checked: "z-10 border-indigo-200 bg-indigo-50", Not Checked: "border-gray-200" -->
          </div>

          <!-- Checked: "z-10 border-indigo-200 bg-indigo-50", Not Checked: "border-gray-200" -->
        </div>
      </div>

      <div action="#" class="relative m-3">
        <div
          class="mt-3 p-3 overflow-hidden rounded-lg border border-gray-300 shadow-sm focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500"
        >
          <label for="title" class="sr-only">해야 할일을 적어보세요</label>
          <input
            onchange="checkLength()"
            maxlength="51"
            type="text"
            name="title"
            id="todoContent"
            class="block w-full border-0 pt-2.5 text-lg font-medium placeholder:text-gray-400 focus:outline-none"
            placeholder="해야 할일을 적어보세요"
          />

          <!-- Spacer element to match the height of the toolbar -->
          <div aria-hidden="true">
            <div class="py-2">
              <div class="h-9"></div>
            </div>
            <div class="h-px"></div>
            <div class="py-2">
              <div class="py-px">
                <div class="h-9"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="absolute inset-x-px bottom-0">
          <!-- Actions: These are just examples to demonstrate the concept, replace/wire these up however makes sense for your project. -->
          <div class="flex flex-nowrap justify-end space-x-2 px-2 py-2 sm:px-3">
            <div class="flex-shrink-0">
              <label id="listbox-label" class="sr-only">Add a label</label>
              <div class="relative">
                <span class="inline-flex rounded-md shadow-sm">
                  <label for="message-type" class="sr-only"
                    >Select message type</label
                  >
                  <select
                    id="message-type"
                    name="message-type"
                    class="-ml-px block w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-9 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  >
                    <option>태그없음</option>
                    <option>운동</option>
                    <option>개발공부</option>
                    <option>독서</option>
                    <option>식단</option>
                  </select>
                </span>
              </div>
            </div>
          </div>
          <div
            class="flex justify-end space-x-3 border-t border-gray-200 px-2 py-2 sm:px-3"
          >
            <div class="flex-shrink-0 flex justify-end">
              <button
                onclick="addMyTodo()"
                class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                추가하기
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
