<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Orbit&family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <link href="../dist/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.min.js"
      integrity="sha512-fMPPLjF/Xr7Ga0679WgtqoSyfUoQgdt8IIxJymStR5zV3Fyb6B3u/8DcaZ6R6sXexk5Z64bCgo2TYyn760EdcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      $(document).ready(function () {
        checkLogin();
      });
      function checkLogin() {
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();
        }

        function parseJwt(token) {
          try {
            const base64Url = token.split(".")[1];
            const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
            const jsonPayload = decodeURIComponent(
              atob(base64)
                .split("")
                .map(function (c) {
                  return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                })
                .join("")
            );
            return JSON.parse(jsonPayload);
          } catch (error) {
            return null;
          }
        }

        const jwtToken = getCookie("jwt_token");
        if (jwtToken) {
          const decodedToken = parseJwt(jwtToken);
          if (decodedToken) {
            $("#loginContainer").children("a").html("");
            let loginCompleted = `
                         <a href="" class="text-sm font-semibold leading-6 text-gray-900"
                       >  Welcome! ${decodedToken.sub.user_name}</a
          >
             <a href="#" onclick="logout()" class="cursor pl-5 text-sm font-semibold leading-6 text-gray-900"
                       > LOGOUT</a
          >
            `;
            $("#loginContainer").append(loginCompleted);
          } else {
            console.log("Invalid JWT Token");
          }
        } else {
          console.log("JWT Token not found in cookie");
          alert("로그인 후 이용할 수 있어요!");
          window.location.replace("/login");
        }
      }

      function getTagTodo(item) {
        let newItem = item.slice(1);
        $.ajax({
          type: "GET",
          url: "/api/read_mytodolist",
          success: function (res) {
            makeTodoList(res.mytodolist, item);
          },
        });
      }

      function makeTodoList(list, tagName) {
        let result = list.filter((word) => word.tag === tagName.slice(1));

        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();
        }

        function parseJwt(token) {
          try {
            const base64Url = token.split(".")[1];
            const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
            const jsonPayload = decodeURIComponent(
              atob(base64)
                .split("")
                .map(function (c) {
                  return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                })
                .join("")
            );
            return JSON.parse(jsonPayload);
          } catch (error) {
            return null;
          }
        }

        const jwtToken = getCookie("jwt_token");
        if (jwtToken) {
          const decodedToken = parseJwt(jwtToken);
          if (decodedToken) {
            let final = result.filter(
              (word) => word.user_id !== decodedToken.sub.user_id
            );
            makeTodoUnit(final);
          } else {
            console.log("Invalid JWT Token");
          }
        } else {
          console.log("JWT Token not found in cookie");
        }
      }

      function makeTodoUnit(myTodoList) {
        $("#list_container").html("");
        for (let i = 0; i < myTodoList.length; i++) {
          id = myTodoList[i]["_id"];
          let tem_HTML = `
        <label
          class="rounded-md rounded-tr-md relative flex flex items-center justify-center  cursor-pointer flex-col border p-4 focus:outline-none md:grid md:grid-cols-3 md:pl-4 md:pr-6"
        >
          <span class="flex items-center justify-center text-sm"    id=${id}>

            <span id="pricing-plans-0-label" class="ml-3 font-medium"
              >${myTodoList[i]["content"]}</span
            >
          </span>
          <span
            id=${"t" + id}
            class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center"
          >
            <span class="font-medium">${myTodoList[i]["tag"]}</span>
          </span>
          <div id="buttonList">
          <span
            id="pricing-plans-0-description-1"
            class="flex ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right justify-end"
            ><button
              class="mr-3 flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            type="button"
            onclick="editTodo('${myTodoList[i]["_id"]}', '${
            myTodoList[i]["content"]
          }', '${myTodoList[i]["tag"]}')"
              >내 목록에 추가하기
            </button>
           </span>
          </div>
        </label>
      `;
          $("#list_container").append(tem_HTML);
        }
      }

      function editTodo(id, content, tag) {
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();
        }

        function parseJwt(token) {
          try {
            const base64Url = token.split(".")[1];
            const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
            const jsonPayload = decodeURIComponent(
              atob(base64)
                .split("")
                .map(function (c) {
                  return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                })
                .join("")
            );
            return JSON.parse(jsonPayload);
          } catch (error) {
            return null;
          }
        }

        const jwtToken = getCookie("jwt_token");
        if (jwtToken) {
          const decodedToken = parseJwt(jwtToken);
          if (decodedToken) {
            $.ajax({
              type: "POST",
              url: "/api/post",
              data: {
                id_give: decodedToken.sub.user_id,
                username_give: decodedToken.sub.user_name,
                content_give: content,
                tag_give: tag,
              },
              success: function (res) {
                alert("추가가 완료 되었어요!");
              },
            });
          } else {
            console.log("Invalid JWT Token");
          }
        } else {
          console.log("JWT Token not found in cookie");
        }
      }
    </script>
  </head>
  <body>
    <header class="bg-white">
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div
          class="flex md:absolute md:inset-y-0 md:left-0 lg:static xl:col-span-2"
        >
          <div class="flex flex-shrink-0 items-center pr-5">
            <a href="/">
              <img
                class="h-8 w-auto"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                alt="Your Company"
              />
            </a>
          </div>
        </div>
        <div class="flex flex-1">
          <div class="hidden lg:flex lg:gap-x-12">
            <a
              href="/myTodo"
              class="text-sm font-semibold leading-6 text-gray-900"
              >my TodoList</a
            >
            <a
              href="/tagList"
              class="text-sm font-semibold leading-6 text-gray-900"
              >tag List
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="flex flex-1 justify-end" id="loginContainer">
          <a href="/login" class="text-sm font-semibold leading-6 text-gray-900"
            >Log in <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div class="lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div
          class="fixed inset-y-0 left-0 z-10 w-full overflow-y-auto bg-white px-6 py-6"
        >
          <div class="flex items-center justify-between">
            <div class="flex flex-1">
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-gray-700"
              >
                <span class="sr-only">Close menu</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>

            <div class="flex flex-1 justify-end">
              <a
                href="/login"
                class="text-sm font-semibold leading-6 text-gray-900"
                >Log in <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div class="mt-6 space-y-2">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Product</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Company</a
            >
          </div>
        </div>
      </div>
    </header>
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <div class="text-center">
            <h2
              class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              아래 주제로 다른 사람이 작성한 목표를 확인 할 수있어요!
            </h2>
            <p class="mt-4 text-lg leading-8 text-gray-600">
              어떤 내용인지 알아보러 가볼까요?
            </p>
          </div>
          <dl
            class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4"
          >
            {% for item in tagList%}
            <button
              onclick="getTagTodo('{{item}}')"
              class="flex flex-col bg-indigo-400 p-8 focus:bg-indigo-600 items-center focus-within:text-gray-50"
            >
              <dt class="text-3xl font-semibold leading-6">{{ item }}</dt>
            </button>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
    <div id="list_container" class="mx-auto max-w-3xl py-12"></div>
  </body>
</html>
